.Home-image {
  /* The image used */
  background-image: url(../Components/Home/BackgroundPicture.jpg);

  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.5); 
  z-index: 10;
}
.Home-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(46, 46, 48, 0.5);
}