.ReportsPage-image {
    /* The image used */
    background-image: url(../Administration/Reports.jpg);
  
    /* Full height */
    min-height: 100vh;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5); 
    z-index: 10;
}
.ReportsPage-overlay {
    height: 100%;
    width: 100%;
    
  }